
<div>
    <div class="row justify-content-center">
        <label class="col-1">Date</label>
        <input class="col-11" type="date" class="form-control" placeholder="EmployeeDOB" style="width:200px" >
    </div>
    <br>
    <table class="table">
        <thead>
           <tr>
            <th>Employee Id</th>
            <th>Employee Name</th>
              <th>Employee Designation</th>
             <th>Employee DOB</th>
              <th>Employee Gender</th>
              <th>Employee Attendance</th>
        </tr>
        </thead>
       <tbody>
           @foreach (var item in Model)
           { 
               <tr>
                 <th>@item.EmployeeId</th>
                 <th>@item.EmployeeName</th>
                 <th>@item.EmployeeDesignation</th>
                 <th>@item.EmployeeDOB</th>
                 <th>@item.EmployeeGender</th>
                 <th>@item.EmployeeAttendance</th>
             </tr>
           }
       </tbody>  
    </table>
</div>